html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #777;
}

body {
}

a {
  color: rgb(138, 174, 206);
  text-decoration: none;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #4ea8f8;
}


.mini-banner {
  background: rgb(138,174,206);
  background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#7B417E),to(#91AECA));
  height: 5px;
  width: 100%;
  z-index: 999;
  position: absolute;
}


/* Intro */

.brand {
  max-width: 50px;
  margin-bottom: 2rem;
}


.intro {
  font-family: monospace;
  height: 100%;
  font-size: 15px;
  line-height:  20px;
  padding: 4rem 5rem;
  max-width: 925px;
}

.intro-links {
  margin-top: 1em;
  color: rgb(138, 174, 206);
}

.social-links {
  margin-top: 1.5em;
}

.social-links a {
  color: rgb(222, 224, 226);
  font-size: 20px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #4ea8f8;
}

/* Projects */

#projects {
  background: rgba(70, 70, 70, 0.15);
  position: absolute;
  bottom: 0rem;
  right: 3rem;
  height: 0;
  width: 300px;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

#projects.open {
  height: 100%;
  bottom: 0;
  padding: 0.5rem;
}

#projects img {
  max-width: 100%;
  margin: 8px 0;
  transition: all 0.5s ease-in-out;
}

#projects img:hover {
	animation: jiggle 0.2s infinite;
	-webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}




@media screen and (max-width:480px) {
  .intro {
    padding: 3rem 2rem;
  }
  #projects {
    background: transparent;
    position: relative;
    bottom: 0;
    right: 0;
    height: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
  }
}



@keyframes jiggle {
    0% {
        transform: rotate(-1deg);
	}
	50% {
    	transform: rotate(1deg);
	}
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
	}
	50% {
    	-webkit-transform: rotate(1deg);
	}
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
	}
	50% {
		-moz-transform: rotate(1deg);
	}
}



/*


.nav {
  display: none;
  position: fixed;
  bottom: 8rem;
  right: -6rem;
  display: inline-block;
  padding: 0;
  transform: rotate(0.75turn);
}

a.tab-link {
cursor: pointer;
transition: 0.3s;
font-size: 44px;
color: #e4e4e4;
text-decoration: none;
text-transform: uppercase;
font-weight: 100;
margin-right: 1.5rem;
}

a.tab-link.active {
  color: #909090;
}

a.tab-link:active,
a.tab-link:hover {
  color: #909090;
}

#column-content {
    display: inline-block;
    border: 1px solid red;
    position:relative;
}

#column-content strong {
    color: #592102;
    font-size: 18px;
}

img {
    margin-top:-7px;
    vertical-align: middle;
}


* {box-sizing: border-box}

body, html {
  height: 100%;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

section {
  margin: 2rem 0;
  padding-bottom: 4rem;
}



a:focus {
  box-shadow: none;
}

.hero {
  font-size: 22px;
  font-weight: 100;
  max-width: 800px;
}




.tab-content {
  display: none;
  height: 100%;
  color: #777;
  font-weight: 300;
  font-size: 18px;
  padding: 4rem;
  margin-bottom: 2rem;
}

.tab-content.active {
  display: block;
}


.btn {
  border: .05rem solid #4ea8f8;
  color: #4ea8f8;
}

.btn:focus,
.btn:hover {
  border-color: #f1f1fc;
}

.btn.btn-link {
  color: #777;
}

.bg-primary {
  background: #4ea8f8 !important;
  color: #fff;
}

.bg-secondary {
  background: #ebf3fb !important;
}

.btn.btn-primary {
  background: #4ea8f8;
  border-color: #51a8f3;
  color: #fff;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #4599e3;
  border-color: #4796da;
  color: #fff;
}

.text-primary,
.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
  color: #56acf8 !important;
}

.divider {
  margin: 3rem 0;
}

.social-links {
font-size: 20px;
position: fixed;
left: 4rem;
bottom: 2rem;
padding: 0.25rem;
transition: 0.3s;
background: rgba(255, 255, 255, 0.95);
border-radius: 0 25px 25px 0;
}

.social-links a {
  color: #ccc !important;
  margin-right: 1rem;
}

.social-links a.active,
.social-links a:active,
.social-links a:focus,
.social-links a:hover {
  color: #74bdfe !important;
}


.mt-3 {
  margin-top: 1rem !important;
}

.label.label-secondary {
  color: #1e91d5;
}

.timeline .timeline-item .timeline-icon.icon-lg {
  background: #4ea8f8;
}

.timeline-icon {
  color: #fff !important;
}

.tile-subtitle {
  font-size: 22px;
  font-weight: 500;
}

.show {
  display: block;
}

.hide {
  display: none;
}


.graph-data {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    z-index: 1000;
}

.toggle-data-btn {
    cursor: pointer;
    opacity: 0.85;
}

.toggle-data-btn:hover {
    opacity: 1;
}

#graph-data-description {
    font-size: 12px;
    color: slategrey;
}
a-scene {
    position: absolute;
}







.profile-pic {
  padding: 0px;
  width: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  border: 1px solid #c8c8c8;
  display: block;
  margin-bottom: 1.5em;
}
*/
