html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
	font-family: 'Source Code Pro', monospace;
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
  color: #777;
	background: #101010;
}

body {
}

a {
  color: rgb(138, 174, 206);
  text-decoration: none;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #4ea8f8;
}


.mini-banner {
  background: rgb(138,174,206);
  background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#7B417E),to(#91AECA));
  height: 5px;
  width: 100%;
  z-index: 999;
  position: absolute;
}


/* Intro */

.brand {
  max-width: 50px;
  margin-bottom: 2rem;
}


.intro {
  height: 100%;
  font-size: 17px;
  line-height:  20px;
  padding: 4rem 5rem;
  max-width: 925px;
	font-weight: 300;
}

.intro-links {
  margin-top: 1em;
  color: rgb(138, 174, 206);
}

.social-links {
  margin-top: 1.5em;
}

.social-links a {
  color: rgb(222, 224, 226);
  font-size: 20px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #4ea8f8;
}

@media (max-width:700px) {
  .intro	{
    padding: 5px 10px;
  }
}


