html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

a {
  color: rgb(138, 174, 206);
  text-decoration: none;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #4ea8f8;
}

.main {
  text-align: center;
  color: rgb(222, 224, 226);
  padding: 0;
  position: absolute;
  font-size: 14px;
  top: 30px;
  left: 30px;
}

.mini-banner {
  background: rgb(138,174,206);
  background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#7B417E),to(#91AECA));
  height: 5px;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
}

.logo {
  max-width: 75px;
  display: block;
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
  color: rgb(222, 224, 226);
}

a.active, a:active, a:focus, a:hover {
  color: #4ea8f8;
}

.social-links {
  text-align: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

.social-links a {
  color: rgb(222, 224, 226);
  font-size: 20px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #4ea8f8;
}

#projects {
  position: absolute;
  bottom: -325px;
  right: 16rem;
  width: 450px;
  height: 1000px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(0.07turn) skew(-37.5deg, 5deg);
  transition-duration: 0.5s;
}

.projects-list {
  padding: 150px 0 300px 0;
}

.projects-list img {
  max-width: 200px;
  margin: 5px;
}

.projects-list img:hover {
  transform: translate(-10px, -20px) rotate(-0.02turn) skew(1deg, 1deg);
  transition-duration: 0.5s;
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(32, 32, 32);
    color:  #ddd;
  }
  body {
    background:  #fff;
    color: #777;
  }
}

@media (prefers-color-scheme: light) {
}

@media (max-width:700px) {
  .projects-list {
    padding: 150px 0 500px 0;
  }
}

@media (max-width:400px) {
  .projects-list {
    padding: 150px 0 700px 0;
  }
}

@media (min-width:1500px) {
  #projects {
    width: 700px;
  }
  .projects-list img {
    max-width: 210px;
  }
}
