main {
  padding: 0 2rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 2rem 2rem 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin: 2rem 0;
}

footer {
  margin-bottom: 4rem;
}

a {
  color: #4ea8f8 !important;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #4599e3;
}

a:focus {
  box-shadow: none;
}

dt > a {
  color: #3b4351 !important;
}

.navbar .brand {
  max-width: 45px;
  margin-left: 10px;
}

.btn.btn-link {
  color: #777;
}

.navbar .btn-link {
  color: #ccc !important;
  font-weight: 100;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 14px;
}

.bg-primary {
  background: #4ea8f8 !important;
  color: #fff;
}

.bg-secondary {
  background: #ebf3fb !important;
}

.btn.btn-primary {
  background: #4ea8f8;
  border-color: #51a8f3;
  color: #fff;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #4599e3;
  border-color: #4796da;
  color: #fff;
}

.text-primary,
.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
  color: #56acf8 !important;
}

.form-input:focus {
  border-color: #56acf8;
  box-shadow: 0 0 0 .1rem rgba(87,85,217,.2);
}

.hero-body {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  max-width: 800px;
  margin-bottom: 2rem;
}

.divider {
  margin: 3rem 0;
}

.subscribe-form {
  margin: 2rem 0;
  padding: 1.5rem;
}

.social-links {
  font-size: 25px;
}

.social-links a {
  color: #ccc !important;
  margin-right: 1rem;
}

.social-links a.active,
.social-links a:active,
.social-links a:focus,
.social-links a:hover {
  color: #74bdfe !important;
}

.mini-banner {
  background: rgb(138,174,206);
  background-image: -webkit-gradient(linear,0% 0%,40% 100%,from(#7B417E),to(#91AECA));
  height: 5px;
  width: 100%;
  z-index: 999;
  position: absolute;
}

.mt-3 {
  margin-top: 1rem !important;
}

.btn {
  border: .05rem solid #4ea8f8;
  color: #4ea8f8;
}

.btn:focus,
.btn:hover {
  border-color: #f1f1fc;
}

.label.label-secondary {
  color: #1e91d5;
}

.timeline .timeline-item .timeline-icon.icon-lg {
  background: #4ea8f8;
}
.timeline-icon {
  color: #fff !important;
}
.tile-subtitle {
  font-size: 22px;
  font-weight: 500;
}

.show {
  display: block;
}
.hide {
  display: none;
}

