---
layout: default
title: Work
---
<h1>Work</h1>

<div class="portfolio-filters">
  <a class="filter" data-filter="all">All</a>
  <a class="filter mobile" data-filter=".mobile">Mobile <i class="fa fa-square"></i></a>
  <a class="filter websites" data-filter=".websites">Websites <i class="fa fa-square"></i></a>
  <a class="filter graphics" data-filter=".graphics">Graphics <i class="fa fa-square"></i></a>
  <a class="filter products" data-filter=".products">Products <i class="fa fa-square"></i></a>
  <!--<a class="filter experiments" data-filter=".experiments">Experiments <i class="fa fa-square"></i></a>-->
  <a class="filter visualizations" data-filter=".visualizations">Visualizations <i class="fa fa-square"></i></a>
  <!--<a class="filter projects" data-filter=".projects">Projects <i class="fa fa-square"></i></a>-->
  <a class="filter opensource" data-filter=".opensource">Open Source <i class="fa fa-square"></i></a>
</div>

<div id="portfolio" class="portfolio">
  {% for project in projects %}
    <div class="{{ project.categories | split: ',' | join: ' ' | append: ' mix' }}">
      <img src="{{ project.url | append: '_1x.jpg' }}" data-featherlight="{{ project.url | append: '.jpg' }}"/>
      {% if project.purchase %}
        <a href="{{ project.purchase | url }}" class="portfolio-buy pulse" title="Purchase"><i class="fa fa-dollar"></i></a>
      {% endif %}
    </div>
  {% endfor %}
  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
</div>

<script>
window.onload = function() {
 var portfolio = mixitup('.portfolio', {
    animation: {
      duration: 250,
      nudge: true,
      reverseOut: false,
      effects: "fade translateX(20%)"
    }
  });
};
</script>

<style>
.portfolio {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}
.portfolio:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.portfolio img {
  /*padding-top: 4px;*/
  width: 99.99%;
  transition: all 0.5s ease;
}
.portfolio img:hover {
  cursor: pointer;
  transform: scale(1.07, 1.07);
}

.portfolio-filters {
  margin-left: 15px;
  margin-bottom: 8px;
}

.portfolio-filters .filter {
    color: #8a8a8a;
    text-transform: uppercase;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 300;
    margin-right: 3px;
    letter-spacing: 1.2px;
        line-height: 34px;
        white-space: nowrap;
  cursor: pointer;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

.portfolio .mix.mobile {
  background: #91e6c6;
}
.portfolio-filters .filter.mobile i {
  color: #91e6c6;
}
.portfolio .mix.websites {
  background: #5ecdde;
}
.portfolio-filters .filter.websites i {
  color: #5ecdde;
}
.portfolio .mix.projects {
  backgrouncolord: #d595aa;
}
.portfolio-filters .filter.projects i {
  color: #d595aa;
}
.portfolio .mix.graphics {
  background: #eebcfb;
}
.portfolio-filters .filter.graphics i {
  color: #eebcfb;
}
.portfolio .mix.products {
  background: #fbd683;
}
.portfolio-filters .filter.products i {
  color: #fbd683;
}
.portfolio .mix.visualizations {
  background: #ffb37d;
}
.portfolio-filters .filter.visualizations i {
  color: #ffb37d;
}
.portfolio .mix.experiments {
  background: #b3b3b3;
}
.portfolio-filters .filter.experiments i {
  color: #b3b3b3;
}
.portfolio .mix.opensource {
  background: #94abff;
}
.portfolio-filters .filter.opensource i {
  color: #94abff;
}
.portfolio-filters .filter:hover,
.portfolio-filters .filter:focus {
  color: #c1c1c1;
  text-decoration: none;
}

.portfolio .portfolio-buy {
  position: absolute;
  bottom: -10px;
  right: -10px;
  color: #fff;
  width: 35px;
  height: 35px;
  background: #3ad39a;
  text-align: center;
  border-radius: 50%;
  line-height: 35px;
  font-size: 14px;
  transition: all 0.5s ease;
}
.portfolio .portfolio-buy:hover {
  box-shadow: 0px 0px 15px 3px rgba(57, 211, 154, 0.5);
}

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #eee;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    /*padding-top: 56.25%;*/
  padding-top: 0px;
}
/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}


.pulse {
  box-shadow: 0 0 0 rgba(75,215,162, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.9;
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    opacity: 0.9;
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    opacity: 0.9;
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    opacity: 1;
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    opacity: 0.9;
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
</style>
