---
layout: default
templateClass: tmpl-post
---
<article class="post">
  <div class="noarticleimage">

    <div class="post-meta">
      <h1 class="post-title">{{ title }}</h1>
      <!--
      <span class="post-date">
        {{ post.date | formatDate }}
      </span>
      -->
      <div class="post-meta-text">
        {% for tag in tags %}
          <a class="tag tag-{{ tag }}" href="#">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
    </div>
    <section class="post-content">

      {{ content | safe }}

      <a href="{{ '/' | url }}">← Home</a><br>
      <p style="text-align:right">
        <a class="edit-link" href="https://github.com/chrisdiana/chrisdiana.github.io/tree/develop/{{ page.inputPath }}">Edit this page on GitHub</a>
      </p>
    </section>

    <footer class="post-footer"></footer>
    <div id="disqus_thread"></div>
  </div>
</article>

<script>
  var disqus_config = function () {
    //this.page.url = document.location.href;
    this.page.identifier = document.location.pathname.replace('/posts/', '').replace('/', '');
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://cdianamedia.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

